#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: 0;
}
.maingrid {
  display: grid;
  overflow-x: hidden;
  grid-template-rows: 100vh 100vh 100vh 100vh;
  grid-template-columns: 100%;
  background: #ECEBEB;
  grid-gap: 0;
  width: 100%;
  height: 100%;
  grid-template-areas:
  "LandingPage"
  "Filler"
  "AboutUs"
  "ContactUs"
}
body {
  margin: 0px;
}
.picture {
  position: absolute;
  grid-area: AboutUs;
}
.content {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 5% 30% 15% 10%;
  grid-gap: .3vw;
  background-color: #fff;
  color: white;
  position: relative;
  justify-items: center;
  align-items: center;
  grid-area: LandingPage;
  grid-template-areas: 
  "navbar navbar navbar"
  "filler2 filler2 filler2"
  "Tactica Tactica Tactica"
  "subtext subtext subtext"
  "filler filler filler"
}
.content h1 {
  grid-area: Tactica;
  max-width: 100%;
  font-size: 8vw;
  position: absolute;
  font-family: "Black Ops One";
}
.content h2{
  position: absolute;
  grid-area: subtext;
  max-width: 100%;
  font-size: 1.7vw;
  text-justify: top;
  font-family: "Archivo Black";
  
}
.content h3{
  grid-area: navbar;
  position: absolute;

}
.content a{
  padding: 10px .7vw;
  font-size: 1.5vw;
  color: white;
  text-decoration: none;
  font-family: "Merriweather";
}
.content ul {
  padding-inline-start: 0px;
}
.content li{
  list-style: none;
  float: right;
  text-align: center;
  text-decoration: none;
}
nav {
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 5px 0px #dedede;
}
nav.stroke ul li a,

nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,

nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
.About_Us {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 15% 5% 80%;
  grid-area: AboutUs;
  grid-template-areas:
  "Filler Filler Filler"
  "Filler2 About_Us Filler5"
  "Filler3 Information Filler4"
}
.About_Us h1 {
  text-align: center;
  font-size: 2vw;
  grid-area: About_Us;
  color: black;
  font-family: 'Lato';
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1:before,
h1:after {
  opacity: .7;
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

h1:after {
    margin: 0 0 0 20px;
}

